html {
    background: #666 url('images/background3-flipped.png') no-repeat center top fixed;
    background-size: cover;
    }

body {
    margin-right: 18%;
    margin-left: 1.8em;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "kern", "liga", "onum";
    -webkit-font-feature-settings: "kern", "liga", "onum";
    -moz-font-feature-settings: "kern", "liga", "onum";
    }

div.wrapper {
    font-family: "freight-text-pro", Baskerville, Georgia, serif;
    margin: 1.8em auto;
    width: 30em;
    font-size: 22px;
    padding: 4em;
    background: #fbfaf5;
    color: #000;
    box-shadow: 0 0 6px 3px #333;
    border-radius: 15px;
    }
    
p, li, dt, dd, blockquote {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    }
    
h1, h2, h3, h4, h5, h6 {
    color: #000;
    text-transform: uppercase;
    font-family: "league-gothic", Impact, sans-serif;
    font-weight: normal;
    }

h1 {
    margin-top: 0;
    margin-bottom: 1.2em;
    font-size: 300%;
    padding: 0;
    text-transform: uppercase;
    border-bottom: 0.25rem solid #f64;
    }
    
body #subtitle,
body #byline {
    font-size: 140%;
    text-align: right;
    font-style: italic;
    color: #000;
    position: relative;
    top: -2.142em;
    margin: 0 0 -0.714em;
    text-indent: 0;
    }
    
#subtitle + #byline {
    margin-top: 2em;
    }
    
#byline img {
    height: 1.25em !important;
    width: auto !important;
    border-radius: 50%;
    vertical-align: top;
    margin-left: 0.1em;
    }
    
h2 {
    font-size: 200%;
    margin: 1.111em 0 0.555em;
    border-bottom: 1px solid #bbb;
    }
    
h3 {
    font-size: 150%;
    margin: 1.333em 0 0.666em;
    }
    
h4, h5, h6 {
    font-size: 120%;
    margin: 1.677em 0 0.833em;
    }

span.editsection {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    text-transform: none;
    float: right;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-weight: normal;
    }
    
span#dateline,
span.dateline {
    font-family: "league-gothic", Impact, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    }

a {
    color: #f64;
    text-decoration: none;
    }
    
a:hover {
    text-decoration: underline;
    }
    
body p, body blockquote {
    text-align: justify;
    text-indent: 2em;
    }

body p {
    margin: 0.4em 0;
    }
    
body p.no-indent,
body blockquote.no-indent {
    text-indent: 0;
    }
    
body blockquote {
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em 2em;
    border-left: 1px solid #f64;
    }
    
body blockquote h2,
body blockquote h3,
body blockquote h4,
body blockquote h5,
body blockquote h6 {
    text-indent: 0;
    }

dt {
    font-family: "league-gothic", helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 120%;
    text-transform: uppercase;
    color: #000;
    }
    
small, abbr {
    font-size: 0.8em;
    color: #000;
    border: 0;
    text-decoration: none;
    font-weight: 500;
    }

@supports (font-feature-settings: 'smcp') or (-webkit-font-feature-settings: 'smcp') or (-moz-font-feature-settings: 'smcp') {
    abbr {
        font-feature-settings: 'smcp';
        -webkit-font-feature-settings: 'smcp';
        -moz-font-feature-settings: 'smcp';
        text-transform: lowercase;
        font-size: 1.1em;
        color: #000;
        font-weight: normal;
        }
    }

abbr[title] {
    cursor: help;
    }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
dt small,
span.mini {
    font-size: 75%;
    font-family: "freight-text-pro", Baskerville, Georgia, sans-serif;
    font-style: italic;
    text-transform: none;
    top: -0.15em;
    position: relative;
    color: #000;
    }

ol, ul {
    padding-left: 2em;
    }

ol {
    list-style-type: decimal;
    }
    
ol ol {
    list-style-type: lower-alpha;
    }
    
ol ol ol {
    list-style-type: lower-roman;
    }

tt, code, pre {
    font-family: "inconsolata", courier new, monospace;
    font-size: 83.333%;
    text-transform: none !important;
    }
    
pre {
    margin: 1.2em 2.4em;
    padding: 1.2em;
    border: 1px dashed #f64;
    background: rgba(255,103,69,0.05);
    overflow: scroll;
    }

mark {
    background: rgba(0,204,102,0.25);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.0) 50%, rgba(0,204,102,0.2) 50%, rgba(0,204,102,0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.0) 50%, rgba(0,204,102,0.2) 50%, rgba(0,204,102,0.2) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.0) 50%, rgba(0,204,102,0.2) 50%, rgba(0,204,102,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.0) 50%, rgba(0,204,102,0.2) 50%, rgba(0,204,102,0.2) 100%);
    background: linear-gradient(top, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.0) 50%, rgba(0,204,102,0.2) 50%, rgba(0,204,102,0.2) 100%);
    }

textarea {
    width: 100%;
    }
    
span.tocnumber:after {
    content: ".";
    }

span.toctoggle {
    visibility: hidden;
    display: none;
    margin: 0;
    padding: 0;
    }
    
body img,
div.thumbinner {
    max-width: 100% !important;
    }
    
body img {
    height: auto !important;
    }
        
div.thumbcaption {
    font-style: italic;
    font-size: 75%;
    }
    
div.floatleft {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    max-width: 40%;
    }
    
div.floatright {
    float: right;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    max-width: 40%;
    }
    
div.center {
    max-width: 80%;
    margin: 0.5em auto;
    text-align: center;
    }
    
div.center img {
    padding: 2px;
    border: 1px solid #bbb;
    background: #fbfaf5;
    }
    
hr {
    width: 33%;
    margin: 2em auto;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.25);;
    }
    
div.bibliography p {
    text-indent: -2em;
    margin-left: 2em;
    }
    
sup.reference {
    font-size: 66.666%;
    vertical-align: baseline;
    top: -0.4em;
    position: relative;
    margin-left: 0.175em;
    margin-right: 0.175em;
    }
    
div.ref-list,
div.bibliography {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 3em;
	-moz-column-gap: 3em;
	-webkit-column-gap: 3em;
	font-size: 66.666%;
	orphans: 10;
	widows: 10;
	text-align: justify;
	}
	
div.ref-list ol,
div.bibliography ol {
    margin: 0;
    }
    
div.ref-list p:first-child,
div.bibliography p:first-child {
    margin-top: 0;
    }
    
div.printfooter {
    visibily: hidden;
    display: none;
    }
    
    
table.wikitable {
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #ccc;
    }
    
table.wikitable tr:nth-of-type(odd) {
    background: #eee;
    }
    
table.wikitable th {
    font-size: 120%;
    }
    
table.wikitable th, table.wikitable td {
    /* border: 1px solid #ccc; */
    width: 50%;
    padding: 0.5em;
    vertical-align: top;
    }


/* Styles for Special:SpecialPages */
table.mw-specialpages-table td {
    font-size: 0.857em; /* 14px·0.857=12px */
    padding: 0;
    }

table.mw-specialpages-table td:first-of-type {
    padding-right: 1em;
    }
    
table.mw-specialpages-table td:last-of-type,
table.mw-specialpages-table td:nth-of-type(2) {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    }

table.mw-specialpages-table td li {
    margin-left: 1.5em;
    padding-left: 1em;
    text-indent: -1em;
    }

h4.mw-specialpagesgroup {
    border-bottom: 1px solid #ccc;
    font-size: 1.285em;
    margin: 1em 0 0em;
    background: transparent;
    }

/* Custom page styles */
body.page-The_end_for_which_God_created_the_world dt {
    font-family: "freight-text-pro", Baskerville, Georgia, serif !important;
    text-transform: none !important;
    color: #000 !important;
    font-size: 100% !important;
    }

#wpTextbox1,
#wpSummary {
    font-family: monospace;
    font-size: 90%;
    }

div.editButtons {
    text-align: center;
    }
    
#wpSave,
#wpPreview,
#wpDiff {
    border: 2px solid #aaa;
    background: #fff;
    font-family: Skolar, serif;
    font-size: 100%;
    padding: 0.25em 0.5em;
    margin: 0.5em 0;
    border-radius: 3em;
    }
    
#wpSave:hover,
#wpPreview:hover,
#wpDiff:hover {
    background: #616161;
    color: #fff;
    }
    
span.editHelp {
    display: block;
    }

.endmark img {
    border-radius: 50%;
    height: 0.7em !important;
    width: auto !important;
    vertical-align: -0.0625em;
    }

.who-is-joey-day {
    background: #fc674b;
    color: #fff;
    margin: 4em -4em -4em;
    padding: 4em 4em 4em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    
.who-is-joey-day-header {
    color: #fff;
    border-bottom-color: #fff !important;
    text-transform: uppercase;
    font-family: "league-gothic", Impact, sans-serif;
    font-weight: normal;
    font-size: 200%;
    margin: 0 0 0.555em !important;
    border-bottom: 1px solid #bbb;
    text-indent: 0;
    }
    
.who-is-joey-day-content {
    text-indent: 0;
    margin-left: 6.25em;
    }
    
.who-is-joey-day abbr {
    color: #fff;
    }
    
.who-is-joey-day img {
    float: left;
    height: 5.25em !important;
    width: auto !important;
    border-radius: 50%;
    vertical-align: top;
    margin: 0 1em 0.5em -6.25em;
    }

.who-is-joey-day a {
    color: #fff;
    text-decoration: underline;
    }

.callout-left,
.callout-right {
    font-size: 125%;
    width: 50%;
    font-style: italic;
    text-indent: 0;
    text-align: center;
    border-top: 1px solid #f64;
    border-bottom: 1px solid #f64;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    padding: 0.5em 0.25em;
    }
.callout-left {
    float: left;
    margin-right: 1em;
    margin-left: -1.5em;
    }
.callout-right {
    float: right;
    margin-left: 1em;
    margin-right: -1.5em;
    }
 

/********** Media queries **********/
@media screen and (max-width: 56.5em) {
    html {
        background: none !important;
        margin: 0;
        padding: 0;
    }
    body {
        background: #fbfaf5;
        margin: 0;
        padding: 0;
    }
    div.wrapper {
        width: auto;
        margin: 0 auto;
        padding: 1em;
        max-width: 32em;
        box-shadow: none;
        border-radius: 0;
    }
    .who-is-joey-day {
        position: absolute;
        width: 100%;
        left: 0;
        background: #fc674b;
        color: #fff;
        margin: 2em 0 -1.5em;
        padding: 2em 0 2em;
        border-radius: 0;
    }
    .who-is-joey-day-inner {
        margin: 0 auto;
        max-width: 32em;
        padding: 0 1em;
    }
    .callout-left,
    .callout-right {
        font-size: 125%;
        width: 45%;
    }
    .callout-left {
        margin-left: 0;
    }
    .callout-right {
        margin-right: 0;
    }
}

@media screen and (max-width: 38em) {
    div.wrapper {
        font-size: 19px;
    }
}

@media screen and (max-width: 28em) {
    div.wrapper {
        font-size: 16px;
        }
    body blockquote,
    body pre {
        padding-left: 0.75em;
        padding-right: 0.75em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        }
    body pre {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        }
    div.ref-list,
    div.bibliography {
    	column-count: 1;
    	-moz-column-count: 1;
    	-webkit-column-count: 1;
    	}
    h1 {
        font-size: 250%;
        }
    
    body #subtitle,
    body #byline {
        font-size: 120%;
        }

    h2,
    .who-is-joey-day-header {
        font-size: 180%;
        }
        
    h3 {
        font-size: 120%;
        }
        
    h4, h5, h6 {
        font-size: 100%;
        }
    .callout-left,
    .callout-right {
        display: none;
        visibility: hidden;
    }

}